# This file defines the Conda environment for the AKI prediction project.
# To create the environment, run: conda env create -f environment.yml
# To activate the environment, run: conda activate aki_prediction_project

name: aki_prediction_project

channels:
  - pytorch
  - nvidia
  - defaults

dependencies:
  # Core Python version
  - python=3.9 # probably want to migrate to 3.10+ at some point

  # Core deep learning libraries from specified channels
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8 # As specified in the project plan

  # Pip for installing remaining packages
  - pip

  # Python packages to be installed with pip
  - pip:
      - "autogluon.multimodal"
      - setuptools
      - wheel
      - autogluon
      - vitaldb==1.0.0
      - pandas
      - numpy
      - scipy
      - matplotlib
      - scikit-learn
      - xgboost
      - interpret
      - pycatch22
      - optuna
      - shap
      - nvitop
      - numba
      - ipykernel
      - tensorboard
      - psutil
      - ipywidgets
      - rich
      - grad-cam
      - aeon # 1.1.0 for python 3.9, current 1.3.0 for python 3.10+. 1.3.0 supports GPU acceleration
      - tsfresh
